nb-card.home-card {
    width: 400px;
    margin: 0.75em;
}

nb-card.home-card nb-card-body * {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.clickable-icons nb-icon {
    cursor: pointer;
    margin: 0 0.5rem;
}

.filter-item {
    margin-right: 0.5rem;
}
