<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <api_url>http://localhost:7329</api_url>
    <log_configs>
        <!-- Comment out all other elements for global control only -->
        <GLOBAL>11111</GLOBAL>

        <!-- Specific Settings Override Global Setting -->
    </log_configs>
</settings>
